{{> header}}
{{> menu}}

<main class="container">
    <h1>Pel·lícules Sakila</h1>
    
    <div class="grid"> {{#each movies}}
        <div class="card"> <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p><small><strong>Actors:</strong> {{this.actors}}</small></p>
        </div>
        {{/each}}
    </div>
</main>

{{> footer}}