<header class="main-header">
    <div class="logo">SAKILA<span>WEB</span></div>
    <nav>
        {{#each menu}}
        <a href="movies.hbs">Movies</a>
        <a href="customers.hbs">Customers</a>
        {{/each}}
    </nav>
</header>