<header class="main-header">
    <div class="logo">SAKILA<span>WEB</span></div>
    <nav>
        {{#each menu}}
        <a href="{{this.url}}">{{this.label}}</a>
        {{/each}}
    </nav>
</header>